<!DOCTYPE html>

<html layout:decorate="~{admin/admin_layout}"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Administrace - Pracovní portál</title>
    <link rel="stylesheet" type="text/css" href="/css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="/css/switch.css"/>
    <script type="text/javascript" src="/js/adminOfferDataLoad.js"></script>
</head>
<body>
<div layout:fragment="content">
    <span id="message_notification"></span>
    <h4 id="dataLoadHeading" class="text-center">Správa dat pracovních nabídek</h4>
    <p class="text-center" id="offersCount"></p>
    <div class="container text-center">
        <p></p>
        <h5 id="loadHeading" class="text-center">Nahrát nová data</h5>
        <form name="dateForm">
            <label class="switch">
                <input type="checkbox" id="skipEmptyDescription" checked>
                <span class="slider round"></span>
            </label>
            <span class="font-size-085">Přeskakovat nabídky bez vyplněného popisu (doporučeno)</span><br>
            <label class="switch">
                <input type="checkbox" id="useApiSource" checked>
                <span class="slider round"></span>
            </label>
            <span class="font-size-085">Jako datový zdroj využít internetvou API na https://data.mpsv.cz/...</span><br>
            <!--<p id="deployedVersionRestrictions">V nasazené verzi aplikace byla funkce nahrávání ext. dat <b>deaktivována</b> z důvodu nedostačujících alokovaných HW prostředků v rámci Heroku Hobby programu - <b>512 MB RAM a omezení SQL queries/hodina</b>.<br>Aplikace samotná vyžaduje zhruba 480 MB RAM a po spuštění hromadného nahrávání nabídek dojde k <b>překročení kvóty</b> - bylo by nutné přejít na vyšší program serveru i databáze (+ cca 90$).<br>Funkci nahrávání je možné plně vyzkoušet při lokálním spuštění aplikace.</p>-->
            <div class="input-group selectLoadDatesDiv">
                <div class="input-group-prepend">
                    <span class="input-group-text selectLoadDatesSpan">Datum vložení od-do</span>
                </div>
                <input type="date" name="insertionDateFrom" class="form-control">
                <input type="date" name="insertionDateTo" class="form-control">
            </div>
            <div class="input-group selectLoadDatesDiv">
                <div class="input-group-prepend">
                    <span class="input-group-text selectLoadDatesSpan">Datum poslední změny od-do</span>
                </div>
                <input type="date" name="editDateFrom" class="form-control">
                <input type="date" name="editDateTo" class="form-control">
            </div>
            <div class="form-group dataActionDiv">
                <button id= "buttonLoad" type="button" onclick="return parseOffers()" class="btn btn-success">Nahrát odpovídající pracovní nabídky</button>
            </div>
        </form>
        <div id="loader"></div>
        <p id="info" class="text-center"></p>
        <p id="filters" class="text-center"></p>
        <p id="count" class="text-center countLoad"></p>
        <p id="actualInsertionDate" class="text-center"></p>
        <p id="actualEditDate" class="text-center"></p>
        <span class="text-center downSpan"><a id="down">down</a></span>
    </div>
</div>
</body>
</html>