<!DOCTYPE html>

<html layout:decorate="~{admin/admin_layout}"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Administrace - Pracovní portál</title>
    <link rel="stylesheet" type="text/css" href="/css/loading.css"/>
    <script type="text/javascript" src="/js/adminCodebook.js"></script>
</head>
<body>
<div layout:fragment="content">
    <span id="message_notification"></span>
    <h4 id="codebookHeading" class="text-center">Správa dat číselníků</h4>
    <p class="text-center" id="codebookCheckResult"></p>
    <div class="container text-center">
        <p></p>
        <form>
            <div class="form-group">
                <button id="buttonLoad" type="button" onclick="parseAllCodebookData()" class="btn btn-success" disabled></button>
                <p id="deployDisabledInfo">Tato funkce je v nasazené verzi aplikace deaktivována z důvodu nadměrného vyčerpávání přidělenách/zaplacených výpočetních prostředků v zakoupeném programu Heroku. Navíc je zde tato funkce zbytečná, pokud již jednou byla všechna číselníková data (více než 24 000 záznamů) nahrána..</p>
            </div>
        </form>
        <div id="loader"></div>
        <p id="info" class="text-center"></p>
        <p id="progress" class="text-center"></p>
        <p id="count" class="text-center countCodebook"></p>
        <p id="time" class="text-center"></p>
    </div>
</div>
</body>
</html>