<!DOCTYPE html>

<html layout:decorate="~{admin/admin_layout}"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Administrace - Pracovní portál</title>
    <link rel="stylesheet" type="text/css" href="/css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="/css/switch.css"/>
    <script type="text/javascript" src="/js/adminOfferDataDelete.js"></script>
</head>
<body>
<div layout:fragment="content">
    <span id="message_notification"></span>
    <h4 id="dataLoadHeading" class="text-center">Správa dat pracovních nabídek</h4>
    <p class="text-center" id="offersCount"></p>
    <div class="container text-center">
        <p></p>
        <h5 id="deleteHeading" class="text-center"><a id="delete">Odstranit data</a></h5>
        <form name="deleteForm">
            <label class="switch">
                <input type="checkbox" id="switchDeleteAll" onclick="showFormPart()">
                <span class="slider round"></span>
            </label>
            <span class="font-size-085">Odstranit veškerá data VŠECH pracovních nabídek</span><br>
            <div id="expired">
            <label class="switch">
                <input type="checkbox" id="switchOnlyExpired" onclick="showFormPart()">
                <span class="slider round"></span>
            </label>
            <span class="font-size-085">Identifikovat a smazat pouze a jenom data všech expirovaných pracovních nabídek</span><br>
            </div>
            <div id="dates">
                <p class="text-center">Odstranit data všech nabídek starších než zvolené filtry:</p>
                <div class="input-group selectDeleteDatesDiv">
                    <div class="input-group-prepend">
                        <span class="input-group-text selectDeleteDatesSpan">Smazat vše starší než datum vložení:</span>
                    </div>
                    <input type="date" name="oldestInsertionDate" class="form-control">
                </div>
                <div class="input-group selectDeleteDatesDiv">
                    <div class="input-group-prepend">
                        <span class="input-group-text selectDeleteDatesSpan">Smazat vše starší než datum poslední změny:</span>
                    </div>
                    <input type="date" name="oldestEditDate" class="form-control">
                </div>
            </div>
            <div class="form-group dataActionDiv">
                <button id= "buttonDelete" type="button" onclick="return deleteOffers()" class="btn btn-danger">Trvale smazat odpovídající pracovní nabídky</button>
            </div>
        </form>
        <div id="loader"></div>
        <p id="info" class="text-center"></p>
        <p id="filters" class="text-center"></p>
        <span class="text-center downSpan"><a id="down">down</a></span>
    </div>
</div>
</body>
</html>