<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"><header  xmlns:th="https://www.thymeleaf.org"
                    th:fragment="header">

        <nav id="mainHeaderAdminNav" class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/"><img class="img-responsive" src="../static/resources/images/pracovo_icon.png"
                                     th:src="@{/resources/images/pracovo_icon.png}" height="60em"/></a>
                </li>
                <li class="nav-item-active active">
                    <a class="nav-white-link" id="top" href="/">
                        <h4 class="nav-link">Pracovo.cz</h4></a>
                    <a class="nav-white-link" href="/admin/overview"><p id="dashboard" class="nav-link">ADMIN DASHBOARD</p></a>
                </li>
                <li id="overview" class="nav-item-active">
                    <a class="nav-link" href="/admin/overview">Přehled</a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="/admin/codebook">Správa dat číselníků</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        Správa dat pracovních nabídek
                    </a>
                    <div class="dropdown-menu">
                        <a class="nav-link green" href="/admin/offerDataLoad">Nahrát nová data</a>
                        <a class="nav-link red" href="/admin/offerDataDelete">Smazat data</a>
                    </div>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="/admin/allOffers">Editace pracovních nabídek</a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="/admin/allUsers">Správa uživatelských účtů</a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
</head>
<body>

</body>
</html>