.offerDetailMeta {
font-size:0.9em;
margin-block-end: 0.3em;
}

.date{
border-radius: 4px;
color: white;
font-size: 0.75em;
padding: 0.2em 0.5em;
}

.dateToday{
background-color: limegreen;
}

.dateYesterday{
background-color: darkorange;
}

.dateOld{
background-color: cornflowerblue;
}

.fields{
background-color: cadetblue;
margin-right: 0.5em;
border-radius: 4px;
color: white;
font-size: 0.75em;
padding: 0.2em 0.5em;
}

.salary{
background-color: yellowgreen;
margin-right: 0.5em;
border-radius: 4px;
color: white;
font-size: 0.75em;
padding: 0.2em 0.5em;
}

.workship{
color: darkviolet;
}

.moreInfoIcon{
min-width: 1.3em;
color: darkseagreen;
}

.moreInfoLabel {
    min-width: 11em;
    display: inline-block;
    color: grey;
}

.moreInfoEmptyLabel {
    min-width: 16.5em;
    display: inline-block;
}

.moreInfoHrDivider {
    margin: 0.4em;
}

.modalDialogGeneral{
max-width:50em;
}

#modalDialogRelevances{
max-width:36em;
}

.infoRowMobile{
padding-left: 1.5em;
}

#topLine{
border-top: 3px solid rgba(0,0,0,.1);
}

.red{
 color:red;
 }

.green{
color:green;
}

.slateblue{
color:slateblue;
}

.steelblue{
color:steelblue;
}

#accountOverviewContainer{
padding-top: 2.5em;
}

h5.moreInfo{
padding-top:1.5em;
font-size:1.15em;
}

.containerInfoSection{
background-color: #eee9;
border-radius: 0.3em;
}

.infoSection{
font-size: 0.9em;
padding-top:1em;
padding-bottom:1em;
}

#buttonShowRelevances{
margin-right: 1em;
margin-top:0.5em;
margin-bottom: 1em;
}

#buttonEditInfo{
margin-right: 1em;
margin-top:0.5em;
margin-bottom: 1em;
}

#buttonChangePassword{
margin-top:0.5em;
margin-bottom: 1em;
}

.font-size-07{
font-size: 0.7em;
}

#relevanceModalContent{
margin: 0 auto;
max-width:27em;
}