.offerDetailMeta {
font-size:0.9em;
margin-block-end: 0.3em;
}

.date{
border-radius: 4px;
color: white;
font-size: 0.75em;
padding: 0.2em 0.5em;
}

.dateToday{
background-color: limegreen;
}

.dateYesterday{
background-color: darkorange;
}

.dateOld{
background-color: cornflowerblue;
}

.fields{
background-color: cadetblue;
margin-right: 0.5em;
border-radius: 4px;
color: white;
font-size: 0.75em;
padding: 0.2em 0.5em;
}

.salary{
background-color: yellowgreen;
margin-right: 0.5em;
border-radius: 4px;
color: white;
font-size: 0.75em;
padding: 0.2em 0.5em;
}

.workship{
color: darkviolet;
}

.moreInfoIcon{
min-width: 1.3em;
color: darkseagreen;
}

.contactIcon{
min-width: 1.3em;
color: cornflowerblue;
}

.moreInfoLabel {
    min-width: 15em;
    display: inline-block;
    color: grey;
}

.moreInfoEmptyLabel {
    min-width: 16.5em;
    display: inline-block;
}

.moreInfoHrDivider {
    margin: 0.4em;
}

.infoRowMobile{
padding-left: 1.5em;
}

#topLine{
border-top: 3px solid rgba(0,0,0,.1);
}

.buttonShowContacts{
padding: 0.2em 0.8em;
background-color: cornflowerblue;
margin-top: 1em;
}

.buttonReply{
padding: 0.2em 0.8em;
margin: 1em 1em 2em;
}

#replyBlock{
text-align: center;
}

#adminOfferId{
font-size: 0.7em;
margin-block-end: 0em;
color: red;
}

@media only screen and (max-width: 999px) {
  #mobileInfoView {
    display: block;
  }

  #desktopInfoView {
      display: none;
    }
}

@media only screen and (min-width: 1000px) {
  #mobileInfoView {
    display: none;
  }

  #desktopInfoView {
      display: block;
    }
}