<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"><header  xmlns:th="https://www.thymeleaf.org"
                    th:fragment="header">

        <nav style="margin-bottom: 0.3em; padding-bottom:0.15em; padding-right:2em; padding-left:2em" class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/"><img class="img-responsive" src="../static/resources/images/pracovo_icon.png"
                                     th:src="@{/resources/images/pracovo_icon.png}" height="60em"/></a>
                </li>
                <li class="nav-item-active active">
                    <a class="nav-white-link" id="top" href="/"><h4
                            style="color:white; padding-top: 0.6em; font-family: 'Tahoma';font-weight: bold;padding-top: 0.2em;padding-bottom: 0.1em; margin-bottom:0.2em;"
                            class="nav-link">Pracovo.cz</h4></a>
                    <a class="nav-white-link" href="/admin/overview"><p style="color:white; font-family: 'Tahoma';font-size: 0.8em;margin-bottom: 0em;padding-top: 0em;" class="nav-link">ADMIN DASHBOARD</p></a>
                </li>
                <li style="padding-left: 1.5em;" class="nav-item-active">
                    <a class="nav-link" href="/admin/overview">Přehled</a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="/admin/codebook">Správa dat číselníků</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        Správa dat pracovních nabídek
                    </a>
                    <div class="dropdown-menu">
                        <a class="nav-link" style="color:green" href="/admin/offerDataLoad">Nahrát nová data</a>
                        <a class="nav-link" style="color:red" href="/admin/offerDataDelete">Smazat data</a>
                    </div>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="/admin/allOffers">Editace pracovních nabídek</a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="/admin/allUsers">Správa uživatelských účtů</a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
</head>
<body>

</body>
</html>