<!DOCTYPE html>

<html  layout:decorate="~{main_layout}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Pracovní portál</title>
</head>

<body>
<div layout:fragment="content">
    <img style="max-width: 100%; height: auto; margin-top: -5em;" class="img-responsive" src="../static/resources/images/icon.jpg" th:src="@{/resources/images/icon.jpg}"/>
<p></p>
    <h2 class="text-center">Demo</h2>
    <h4 class="text-center">Testování procesů extrakce informací z CV a predikce skóre relevance pro pracovní obory</h4>
    <p></p>
    <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" style="color:#1A3346">
    <p style="font-size:0.85em">Účelem tohoto modulu webové aplikace je extrakce několika základních
    informací z nestrukturovaného, případně polostrukturovaného textového dokumentu ve formátu PDF a DOCX, ze životopisu
        (CV) uchazeče o práci a následná predikce relevančních skóre pro 15 pracovních oborů. V aplikaci je uplatňována
         disciplína <b>Information Extraction (IE).</b> Mezi hlavní použité metody extrakce patří: <b>Regular expression (REGEX)
            a Pattern matching</b> v občasné kombinaci s <b>matching database records</b>
        (např: křestní jména, akademické tituly..). Přesnost extrakčního procesu je zvyšována např. díky práci s postupným
        rozšiřováním vyhledávacích oblastí v textu. Zpočátku se hledá pouze v úzké oblasti pravděpodobného výskytu dané informace,
        v případě neúspěchu se tato oblast rozšiřuje.</p>
        <p>Aplikace extrahuje následující informace:<br><b>
            jméno, příjmení, akademické tituly, pohlaví, datum nebo rok narození, věk, email, mobil,
            stupeň nejvyššího dosaženého vzdělání, obecný obor nejvyššího dosaženého vzdělání.</b></p>
        <p></p>
    </div>
    <div class="col-lg-1"></div>
        <div class="container">
            <h4 class="text-center">Extrahovat informace</h4>
            <p></p>
            <p></p>
            <form action="#" th:action="@{/demo/processCv}"  method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label >Vyberte nebo přetáhněte PDF/DOCX soubor se životopisem:</label>
                    <input type="file" name="file" class="btn btn-info">
                    <button type="submit" class="btn btn-success">Extrahovat!</button>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>
