<!DOCTYPE html>
<html  layout:decorate="~{main_layout}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link rel="stylesheet" type="text/css" href="/css/error.css"/>
  <title>Error</title>
</head>
<body class="flexBodyClear">
<div layout:fragment="content" class="flexContent">
    <div class="container">
        <h2>Something went wrong, an error occured</h2>
        <span th:if="${errorCode > 0}" th:text="${errorCode} + ' - '"></span>
        <span th:if="${errorMsg != ''}" th:text="${errorMsg} + ' error'"></span><br>
        <!--<p style="color:red">Probably caused due to exceeded the 'max_questions' limit in ClearDB free plan which is set only to 3 600 questions per hour.</p>-->
        <a class="btn btn-info" href="/"><i class="fas fa-reply"></i> Back to homepage</a>
    </div>
</div>
</body>
</html>