<!DOCTYPE html>

<html layout:decorate="~{main_layout}"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Pracovní portál</title>
    <link rel="stylesheet" type="text/css" href="/css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index-search-purescript.css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/searchAutocomplete.js"></script>
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
    <script type="text/javascript" src="/js/regionLocationProvider.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
<div layout:fragment="content">
    <div style="background-color: #19325a; padding-top:0.5em; padding-bottom: 0.4em; color:white">
        <h4 class="text-center" style="margin-bottom:1.5em;padding-top: 0.6em;">Hledáte práci?
            <span style="color: yellowgreen;">Tady jste správně..</span></h4>
        <div class="container text-center">
            <form name="filters" action="#" th:action="@{/searchOffers}" method="post">
                <div class="form-row">
                    <div style="margin-bottom:1em" class="form-group col-md-4">
                        <label for="region">Vyberte kraj nebo okres</label>
                        <div class="directorist-select" id="selectIcon" data-isSearch="true">
                        <select class="form-control" id="region" name="locationSearch">
                            <option value="0">Všechny kraje</option>
                            <option icon="fas fa-map-marked-alt" th:each="region : ${regions}" th:value="${region.id}" th:text="${region.name}"></option>
                            <script type="text/javascript" src="/js/regionLocationProvider.js"></script>
                            <option icon="fas fa-map-marker-alt" th:each="district : ${districts}" th:value="${district.id}" th:text="${district.name} + ' (okres)'"></option>
                        </select>
                        </div>
                    </div>

                    <!--<div style="margin-bottom:7.5em" class="form-group col-md-4">
                        <label>Vyberte pracovní obory</label>
                    <div class="directorist-select directorist-select-multi" id="multiSelect" data-isSearch="true" data-multiSelect='[]' data-max="3">
                            <select name="fieldsSearch">
                                <option icon="fas fa-check" value="">Nerozhoduje</option>
                                <option icon="fas fa-tag" th:each="field : ${fields}" th:value="${field.name.toLowerCase()}" th:text="${field.name}"></option>
                            </select>
                        </div>
                    </div>-->

                    <div style="margin-bottom:1em" class="form-group col-md-4">
                        <label for="fieldSearch">Vyberte pracovní obor</label>
                        <div class="directorist-select" id="selectSecond" data-isSearch="true">
                            <select class="form-control" id="fieldSearch" name="fieldSearch">
                                <option value="0">Všechny obory</option>
                                <option icon="fas fa-briefcase" th:each="field : ${fields}" th:value="${field.id}" th:text="${field.name}" th:selected="${field.id=='OborCinnostiProVm/4'}"></option>
                            </select>
                        </div>
                    </div>
                    <script type="text/javascript" src="/js/index-search-purescript.js"></script>

                    <div style="margin-bottom:1em" class="form-group col-md-4">
                        <label for="titleAndEmployerSearch">Hledání v názvu nabídky nebo zaměstnavatele</label>
                        <input type="text" class="form-control" name="titleAndEmployerSearch" id="titleAndEmployerSearch" placeholder="Zadejte vyhledávaný řetězec">
                    </div>
                </div>
                <button type="submit" id="searchByFilters" class="btn btn-primary">Hledat nabídky</button>
            </form>
            <p style="color:white" class="text-center">nebo</p>
            <button sec:authorize="!(hasRole('REGISTERED_USER'))" type="button" id="buttonPersonalizeByCv" data-toggle="modal" data-target="#modalPersonalizeByCv"
                    class="btn btn-success">Získat nabídku na míru na základě CV
            </button>
            <a sec:authorize="hasRole('REGISTERED_USER')" th:href="'/personalizedOffers/user/' + ${user.id}"><button type="button" id="buttonPersonalizeByRegistrationData"
                    class="btn btn-success">Zobrazit inteligentně doporučené nabídky
            </button></a>
        </div>
        <p th:if="${relevanceScore != null}" style="font-size:0.9em; color:white; padding-top:3em; margin-block-end: 0.4em"
           class="text-center">
            <i style="color:lightgreen" class="fas fa-user-check"></i> Nabídka práce je nyní inteligentně
            personalizovaná</p>
        <p id="flip" th:if="${relevanceScore != null}"
           style="font-size:0.75em; color:white; text-decoration: underline; margin-block: 0.3em" class="text-center"><i
                style="color:white" class="fas fa-caret-down"></i> zobrazit detaily personalizace <i style="color:white"
                                                                                                     class="fas fa-caret-down"></i>
        </p>
    </div>

    <div th:if="${relevanceScore != null}" id="personalizationDetails" style="display: none">
        <div class="container" th:if="${cvProfile != null}">
            <span style="color:green"><b>Extrahované informace o uchazeči: </b></span>
            <span th:text="${cvProfile.firstName} + ' ' + ${cvProfile.lastName}
            + ', ' + ${cvProfile.gender} + ', ' + ${cvProfile.age} + ' let, narozen(a) '"></span>
            <span th:if="${cvProfile.birthDate != null}" th:text="${cvProfile.birthDate}"></span>
            <span th:if="${cvProfile.birthDate == null}" th:text="${cvProfile.birthYear}"></span>
            <span th:text="', email: ' + ${cvProfile.email} + ', mobil: ' + ${cvProfile.mobile} +
            ', nejvyšší dosažený stupeň vzdělání: ' + ${cvProfile.maxEducation.maxEduLvl.eduLevel.prettyName} +
            ', obor nejvyššího stupně vzdělání: ' + ${cvProfile.maxEducation.eduGeneralField.prettyName}"></span>
            </p>
        </div>

        <div class="container" th:if="${cvProfile == null}">
            <span style="color:green"><b>Informace využité pro personalizaci: </b></span>
            <span th:text="'Rok narození: ' + ${user.birthYear} + ', pohlaví: ' + ${user.gender}
            + ', nejvyšší dosažený stupeň vzdělání: ' + ${user.eduLevel.prettyName} +
            ', obor nejvyššího stupně vzdělání: ' + ${user.eduGeneralField.prettyName}"></span>
            </p>
        </div>

        <div class="container" style="margin-bottom:3em" th:if="${relevanceScore != null}">
            <span style="color:green"><b>Predikovaná skóre relevancí pro jednotlivé obory: </b></span>
            <table class="table table-sm text-center" style="font-size:0.7em">
                <thead class="thead-dark">
                <tr>
                    <th th:each="i : ${#numbers.sequence(0, 14)}" th:text="${relevanceScore.getFieldName(i)}"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="color:green" th:each="i : ${#numbers.sequence(0, 14)}"><b
                            th:text="${relevanceScore.getPercentRelevanceScore(i)}"></b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h4 th:if="${relevanceScore == null}" class="text-center">Pracovní nabídky</h4>
    <h4 th:if="${relevanceScore != null}" class="text-center">Personalizované pracovní nabídky</h4>
    <div class="container" th:each="offer : ${offers}">
        <p style="font-size: 0.8em; color:red; margin:0">Id: <span th:text="${offer.id}"></span></p>
        <table class="table table-sm" style="width:95%; margin-bottom:3em" id="offer">
            <thead class="thead-dark">
            <tr>
                <th colspan="2" th:text="${offer.title}"></th>
                <th style="width:45%">Obory: <span th:each="field : ${offer.profession.getFields()}"
                                                   th:text="'|' + ${field.name} + '| '"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:if="${#strings.length(offer.offerText) >= 250}" colspan="3"
                    th:text="${#strings.substring(offer.offerText,0,249)} + '...'"></td>
                <td th:if="${#strings.length(offer.offerText) < 250}" colspan="3"
                    th:text="${offer.offerText} + '...'"></td>
            </tr>
            <tr style="background-color:#E6E6FA">
                <td style="color:#045204" colspan="2"
                    th:text="'Mzda od ' + ${offer.monthlyRateFrom} + ' Kč' + ' do ' + ${offer.monthlyRateTo} + ' Kč'"></td>
                <td style="color:#0C1546" th:text="'Zaměstnavatel: ' + ${offer.employer.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal personalizeByCv -->
    <div class="modal fade" id="modalPersonalizeByCv" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div style="max-width: 40em" class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeleteTitle">Inteligentní personalizace nabídek pomocí
                        životopisu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/personalizedOffers}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label style="font-size: 0.85em" class="text-center">Vyberte nebo přetáhněte PDF/DOCX soubor
                                se
                                životopisem:</label><br>
                            <input style="padding: 1em; min-width: 100%" class="btn btn-info" type="file" name="file">
                        </div>
                        <div style="display: block; min-height:13em" class="modal-footer text-center">
                            <button id="buttonPersonalizationStart" style="margin: 0 auto" class="btn btn-success"
                                    type="submit" onclick="loading()">Získat nabídku na míru
                            </button>
                            <div id="loader" class="text-center"></div>
                            <p style="margin-top:0em; font-size: 0.8em" class="text-center" id="info"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>