<!DOCTYPE html>

<html layout:decorate="~{main_layout}"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Pracovní portál</title>
    <link rel="stylesheet" type="text/css" href="/css/loading.css"/>
    <script type="text/javascript" src="/js/predictionLoaderAnimation.js"></script>
</head>

<body>
<div layout:fragment="content">
    <div style="background-color: #19325a; padding-top:0.5em; padding-bottom: 4em; color:white; ; border-radius:0.2em">
        <a href="/demo" style="color:white">Demo režim</a>
    <h1 class="text-center" style="margin-bottom:1.5em">Pracovní portál</h1>
        <div class="container text-center">
            <p></p>
            <form action="#" th:action="@{/personalizedOffers}"  method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="text-center">Vyberte nebo přetáhněte PDF/DOCX soubor se životopisem:</label><br>
                    <input type="file" name="file" class="btn btn-info">
                    <button type="submit" onclick="loading()" class="btn btn-success">Získat nabídku na míru na základě CV</button>
                </div>
            </form>
        </div>
        <div id="loader"></div>
        <p style="margin-top:0em" class="text-center" id="info"></p>
    </div>

    <div class="container" th:if="${cvProfile == null}">
        <p>Nabídka zatím není personalizovaná. Přiložte prosím životopis.</p>
    </div>


    <div class="container" th:if="${cvProfile != null}">
        <span style="color:green"><b>Extrahované informace o uchazeči: </b></span>
            <span th:text="${cvProfile.firstName} + ' ' + ${cvProfile.lastName}
            + ', ' + ${cvProfile.gender} + ', ' + ${cvProfile.age} + ' let, narozen(a) '"></span>
            <span th:if="${cvProfile.birthDate != null}" th:text="${cvProfile.birthDate}"></span>
            <span th:if="${cvProfile.birthDate == null}" th:text="${cvProfile.birthYear}"></span>
            <span th:text="', email: ' + ${cvProfile.email} + ', mobil: ' + ${cvProfile.mobile} +
', nejvyšší dosažený stupeň vzdělání: ' + ${cvProfile.maxEducation.maxEduLvl.maxEduLvlName} + ', obor nejvyššího stupně vzdělání: ' +
${cvProfile.maxEducation.generalEduField}"></span>
        </p>
    </div>

    <div class="container" style="margin-bottom:3em" th:if="${relevanceScore != null}">
        <span style="color:green"><b>Predikovaná skóre relevancí pro jednotlivé obory: </b></span>
        <table class="table table-sm text-center" style="font-size:0.7em">
            <thead class="thead-dark">
            <tr>
                <th th:each="i : ${#numbers.sequence(0, 14)}" th:text="${relevanceScore.getFieldName(i)}"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="color:green" th:each="i : ${#numbers.sequence(0, 14)}"><b th:text="${relevanceScore.getPercentRelevanceScore(i)}"></b></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4 th:if="${relevanceScore == null}" class="text-center">Pracovní nabídky</h4>
    <h4 th:if="${relevanceScore != null}" class="text-center">Personalizované pracovní nabídky</h4>
    <div class="container" th:each="offer : ${offers}">
        <p style="font-size: 0.8em; color:red; margin:0">Id: <span th:text="${offer.id}"></span></p>
        <table class="table table-sm" style="width:95%; margin-bottom:3em" id="offer">
            <thead class="thead-dark">
            <tr>
                <th colspan="2" th:text="${offer.title}"></th>
                <th style="width:45%">Obory: <span th:each="field : ${offer.profession.getFields()}"
                                                   th:text="'|' + ${field.name} + '| '"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:if="${#strings.length(offer.offerText) >= 250}" colspan="3"
                    th:text="${#strings.substring(offer.offerText,0,249)} + '...'"></td>
                <td th:if="${#strings.length(offer.offerText) < 250}" colspan="3"
                    th:text="${offer.offerText} + '...'"></td>
            </tr>
            <tr style="background-color:#E6E6FA">
                <td style="color:#045204" colspan="2"
                    th:text="'Mzda od ' + ${offer.monthlyRateFrom} + ' Kč' + ' do ' + ${offer.monthlyRateTo} + ' Kč'"></td>
                <td style="color:#0C1546" th:text="'Zaměstnavatel: ' + ${offer.employer.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>