<!DOCTYPE html>

<html layout:decorate="~{main_layout}"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Pracovní portál</title>
    <link rel="stylesheet" type="text/css" href="/css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="/css/switch.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index-search-purescript.css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/searchAutocomplete.js"></script>
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
<div layout:fragment="content">
    <div style="background-color: #19325a; padding-top:0.5em; padding-bottom: 0.4em; color:white">
        <h4 class="text-center" style="margin-bottom:1.5em;padding-top: 0.6em;">Hledáte práci?
            <span style="color: yellowgreen;">Tady jste správně..</span></h4>
        <div class="container text-center">
            <form name="filters" action="#" th:action="@{/searchOffers}" method="post">
                <div class="form-row">
                    <div style="margin-bottom:1em" class="form-group col-md-4">
                        <label for="region">Vyberte kraj nebo okres</label>
                        <div class="directorist-select" id="selectIcon" data-isSearch="true">
                        <select class="form-control" id="region" name="locationSearch">
                            <option value="all">Všechny kraje</option>
                            <option icon="fas fa-map-marked-alt" th:each="region : ${regions}" th:value="${region.id}" th:text="${region.name}" th:selected="${region.id==searchedLocation}"></option>
                            <option icon="fas fa-map-marker-alt" th:each="district : ${districts}" th:value="${district.id}" th:text="${district.name} + ' (okres)'" th:selected="${district.id==searchedLocation}"></option>
                        </select>
                            <script th:if="${searching != true}" type="text/javascript" src="/js/regionLocationProvider.js"></script>
                        </div>
                    </div>

                    <div style="margin-bottom:1em" class="form-group col-md-4">
                        <label for="fieldSearch">Vyberte pracovní obor</label>
                        <div class="directorist-select" id="selectSecond" data-isSearch="true">
                            <select class="form-control" id="fieldSearch" name="fieldSearch">
                                <option value="all">Všechny obory</option>
                                <option icon="fas fa-briefcase" th:each="field : ${fields}" th:value="${field.id}" th:text="${field.name}" th:selected="${field.id==searchedFieldId}"></option>
                            </select>
                        </div>
                    </div>
                    <script type="text/javascript" src="/js/index-search-purescript.js"></script>

                    <div style="margin-bottom:1em" class="form-group col-md-4">
                        <label for="titleAndEmployerSearch">Hledání v názvu nabídky nebo zaměstnavatele</label>
                        <input type="text" class="form-control" name="titleAndEmployerSearch" id="titleAndEmployerSearch"
                               placeholder="Zadejte vyhledávaný text" th:attrappend="value=${searchedTitleAndEmployer}?${searchedTitleAndEmployer}">
                    </div>
                </div>
                <button type="submit" id="searchByFilters" class="btn btn-primary">Hledat nabídky</button>
            </form>
            <p style="color:white" class="text-center">nebo</p>
            <button style="margin-bottom:1em;" sec:authorize="!(hasRole('REGISTERED_USER'))" type="button" id="buttonPersonalizeByCv" data-toggle="modal" data-target="#modalPersonalizeByCv"
                    class="btn btn-success">Získat nabídku na míru na základě CV
            </button>
            <a sec:authorize="hasRole('REGISTERED_USER')" th:href="'/personalizedOffers/user/' + ${user.id}"><button type="button" id="buttonPersonalizeByRegistrationData"
                    class="btn btn-success">Zobrazit inteligentně doporučené nabídky
            </button></a>
        </div>
        <p th:if="${relevanceScore != null}" style="font-size:0.9em; color:white; padding-top:2em; margin-block-end: 0.4em"
           class="text-center">
            <i style="color:lightgreen" class="fas fa-user-check"></i> Nabídka práce je nyní inteligentně personalizovaná</p>
        <p id="flip" th:if="${relevanceScore != null}"
           style="font-size:0.75em; color:white; text-decoration: underline; margin-block: 0.3em" class="text-center"><i
                style="color:white" class="fas fa-caret-down"></i> zobrazit detaily personalizace <i style="color:white"
                                                                                                     class="fas fa-caret-down"></i>
        </p>
    </div>

    <div th:if="${relevanceScore != null}" id="personalizationDetails" style="display: none">
        <div class="container" th:if="${cvProfile != null}">
            <span style="color:green"><b>Extrahované informace o uchazeči: </b></span>
            <span th:text="${cvProfile.firstName} + ' ' + ${cvProfile.lastName}
            + ', ' + ${cvProfile.gender} + ', ' + ${cvProfile.age} + ' let, narozen(a) '"></span>
            <span th:if="${cvProfile.birthDate != null}" th:text="${cvProfile.birthDate}"></span>
            <span th:if="${cvProfile.birthDate == null}" th:text="${cvProfile.birthYear}"></span>
            <span th:text="', email: ' + ${cvProfile.email} + ', mobil: ' + ${cvProfile.mobile} +
            ', nejvyšší dosažený stupeň vzdělání: ' + ${cvProfile.maxEducation.maxEduLvl.eduLevel.prettyName} +
            ', obor nejvyššího stupně vzdělání: ' + ${cvProfile.maxEducation.eduGeneralField.prettyName}"></span>
            </p>
        </div>

        <div class="container" th:if="${cvProfile == null}">
            <span style="color:green"><b>Informace využité pro personalizaci: </b></span>
            <span th:text="'Rok narození: ' + ${user.birthYear} + ', pohlaví: ' + ${user.gender}
            + ', nejvyšší dosažený stupeň vzdělání: ' + ${user.eduLevel.prettyName} +
            ', obor nejvyššího stupně vzdělání: ' + ${user.eduGeneralField.prettyName}"></span>
            </p>
        </div>

        <div class="container" style="margin-bottom:3em" th:if="${relevanceScore != null}">
            <span style="color:green"><b>Predikovaná skóre relevancí pro jednotlivé obory: </b></span>
            <table class="table table-sm text-center" style="font-size:0.7em">
                <thead class="thead-dark">
                <tr>
                    <th th:each="i : ${#numbers.sequence(0, 14)}" th:text="${relevanceScore.getFieldName(i)}"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="color:green" th:each="i : ${#numbers.sequence(0, 14)}"><b
                            th:text="${relevanceScore.getPercentRelevanceScore(i)}"></b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:if="${(totalPages != null) && (searching == true)}" class="container">
        <p th:if="${(searchedLocation != null) || (searchedFieldId != null) || (searchedTitleAndEmployer != null)}" class="text-center" style="width:95%; margin-block-end:0em; padding-top: 0.5em;">Výsledky vyhledávání pro filtry:
            <span style="font-size: 0.9em" th:if="${searchedLocationName != null}" th:text="'(nabídky pouze v oblasti '"></span><i style="color:blue; font-size: 0.9em" th:text="${searchedLocationName}"></i><span th:if="${searchedLocationName != null}" style="font-size: 0.9em">)</span>
            <span style="font-size: 0.9em" th:if="${searchedFieldName != null}" th:text="'(nabídky v oboru '"></span><i style="color:blue; font-size: 0.9em" th:text="${searchedFieldName}"></i><span th:if="${searchedFieldName != null}" style="font-size: 0.9em">)</span>
            <span style="font-size: 0.9em" th:if="${searchedTitleAndEmployer != null}" th:text="'(název nabídky nebo zaměstnavatele obsahuje výraz '"></span><i style="color:blue; font-size: 0.9em" th:text="${searchedTitleAndEmployer}"></i><span th:if="${searchedTitleAndEmployer != null}" style="font-size: 0.9em">)</span>
        </p>
        <h5 class="text-center" style="width:95%; padding-top: 1.5em;" th:text="'Nalezeno celkem ' + ${totalOffers} + ' pracovních nabídek'"></h5>
        <p id="noOffersTip" th:if="${totalOffers == 0}">Tip: pokud jste vyhledávali s nastavením filtrů, pokuste se použít filtry obecnější.. pomoci může také vypnutí automatického filtru pro lokalizovaný kraj - zkuste vyhledávat ve všech krajích.</p>
    </div>
    <div th:if="${(totalOffers != null) && (totalOffers > 0)}" class="container">
        <p style="font-size:0.8em; padding-top: 0.8em;" th:text="'Zobrazuji nabídky ' + ${firstOfferNum} + ' - ' + ${lastOfferNum} + ' z celkem ' + ${totalOffers}"></p>
    </div>

    <h4 th:if="${relevanceScore != null}" class="text-center personalizedOffersTitle">Doporučené pracovní nabídky</h4>
    <div class="container" th:each="offer : ${offers}">
        <hr>
        <p sec:authorize="hasRole('ADMINISTRATOR')" id="adminOfferId" th:text="'ID: ' + ${offer.id}"></p>
        <a th:href="'/offerDetail/' + ${offer.id}"><h5 id="offerTitle" th:text="${offer.title}"></h5></a>

        <p class="offerDetailMeta">
            <span th:if="${todayDay == offer.editDate.getDayOfYear()}">Aktualizováno
                <span class="date dateToday">Dnes</span>
            </span>
            <span th:if="${todayDay == (offer.editDate.getDayOfYear()+1)}">Aktualizováno
                <span class="date dateYesterday">Včera</span>
            </span>
            <span th:if="${todayDay > (offer.editDate.getDayOfYear()+1)}">Aktualizováno
                <span class="date dateOld" th:text="${offer.editDate.getDayOfMonth() + '. ' + offer.editDate.getMonthValue() + '. ' + offer.editDate.getYear()}"></span>
            </span>

            <span th:if="${todayDay == offer.insertionDate.getDayOfYear()}">Přidáno
                <span class="date dateToday">Dnes</span>
            </span>
            <span th:if="${todayDay == (offer.insertionDate.getDayOfYear()+1)}">Přidáno
                <span class="date dateYesterday">Včera</span>
            </span>
            <span th:if="${todayDay > (offer.insertionDate.getDayOfYear()+1)}">Přidáno
                <span class="date dateOld" th:text="${offer.insertionDate.getDayOfMonth() + '. ' + offer.insertionDate.getMonthValue() + '. ' + offer.insertionDate.getYear()}"></span>
            </span>
        </p>

        <p class="offerDetailMeta">
            <i style="color: cornflowerblue" class='fas fa-map-marked-alt'></i>
            <span th:if="${(offer.placeType.code.equals('adrprov')) || (offer.placeType.code.equals('obec'))}">
                <span th:if="${offer.workPlace.village != null}"
                      th:text="' ' + ${offer.workPlace.village.name} + ', ' + ${offer.workPlace.village.district.region.name}"></span>
                <span th:if="${offer.workPlace.village == null}">místo neuvedeno</span>
            </span>
            <span th:if="${(offer.placeType.code.equals('okres')) && (offer.workPlace.districts.size() > 1)}"
                  th:each="district : ${offer.workPlace.districts}" th:text="' · ' + ${district.name}"></span>
            <span th:if="${(offer.placeType.code.equals('okres')) && (offer.workPlace.districts.size() <= 1)}"
                  th:each="district : ${offer.workPlace.districts}" th:text="${district.name}"></span>
            <span th:if="${(offer.placeType.code.equals('adrvolna')) || (offer.placeType.code.equals('celaCR'))}"> Celá ČR</span>

            <i style="color: cornflowerblue; padding-left: 0.3em" class='far fa-building'></i>
            <span th:text="' ' + ${offer.employer.name}"></span>

            <i style="color: cornflowerblue; padding-left: 0.3em" class='fas fa-business-time'></i>
            <span th:if="${offer.workships.size() > 1}" class="workship" th:each="ship : ${offer.workships}">
                <th:block th:switch="${ship.code}">
                    <span th:case="'dpc'">
                          · DPČ
                    </span>
                    <span th:case="'dpp'">
                          · DPP
                    </span>
                    <span th:case="'plny'">
                          · HPP
                    </span>
                    <span th:case="'sluzebni'">
                          · Služební poměr
                    </span>
                    <span th:case="'zkraceny'">
                          · Zkrácený úvazek
                    </span>
                </th:block>
            </span>
            <span th:if="${offer.workships.size() == 1}" class="workship" th:each="ship : ${offer.workships}">
                <th:block th:switch="${ship.code}">
                    <span th:case="'dpc'">
                          DPČ
                    </span>
                    <span th:case="'dpp'">
                          DPP
                    </span>
                    <span th:case="'plny'">
                          HPP
                    </span>
                    <span th:case="'sluzebni'">
                          Služební poměr
                    </span>
                    <span th:case="'zkraceny'">
                          Zkrácený úvazek
                    </span>
                </th:block>
            </span>
        </p>
        </p>

        <p class="offerDetailMeta">
            <i style="color: green" class='fas fa-coins'></i> Mzda
            <span th:if="${offer.salaryType.equals('TypMzdy/mesic')}">
                <span th:if="${(offer.monthlyRateFrom > 0) && (offer.monthlyRateTo > 0)}">
                    <span class="salary" th:text="' Od ' + ${offer.monthlyRateFrom.intValue()} + ' do ' + ${offer.monthlyRateTo.intValue()} + ' KČ měsíčně'"></span>
                </span>
                <span th:if="${(offer.monthlyRateFrom > 0) && (offer.monthlyRateTo == null)}">
                    <span class="salary" th:text="' Od ' + ${offer.monthlyRateFrom.intValue()} + ' KČ měsíčně'"></span>
                </span>
                <span th:if="${(offer.monthlyRateFrom == null) && (offer.monthlyRateTo > 0)}">
                    <span class="salary" th:text="' Až ' + ${offer.monthlyRateTo.intValue()} + ' KČ měsíčně'"></span>
                </span>
            </span>

            <span th:if="${offer.salaryType.equals('TypMzdy/hod')}">
            <span th:if="${(offer.monthlyRateFrom > 0) && (offer.monthlyRateTo > 0)}">
                    <span class="salary" th:text="' Od ' + ${offer.monthlyRateFrom.intValue()} + ' do ' + ${offer.monthlyRateTo.intValue()} + ' KČ za hodinu'"></span>
                </span>
            <span th:if="${(offer.monthlyRateFrom > 0) && (offer.monthlyRateTo == null)}">
                    <span class="salary" th:text="' Od ' + ${offer.monthlyRateFrom.intValue()} + ' KČ za hodinu'"></span>
                </span>
            <span th:if="${(offer.monthlyRateFrom == null) && (offer.monthlyRateTo > 0)}">
                    <span class="salary" th:text="' Až ' + ${offer.monthlyRateTo.intValue()} + ' KČ za hodinu'"></span>
                </span>
            </span>
            <span th:if="${(offer.monthlyRateFrom == null) && (offer.monthlyRateTo == null)}"> neuvedeno</span>

            <i style="color: cornflowerblue; padding-left: 0.3em" class='fas fa-briefcase'></i> Obory
            <span class="fields" th:each="field : ${offer.profession.getFields()}"
                  th:text="${field.name}"></span>
        </p>
    </div>
    <div class="container">
        <hr>
    </div>

    <!-- Modal personalizeByCv -->
    <div class="modal fade" id="modalPersonalizeByCv" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div style="max-width: 40em" class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeleteTitle">Inteligentní personalizace nabídek pomocí
                        životopisu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/personalizedOffers}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label style="font-size: 0.85em" class="text-center">Vyberte nebo přetáhněte PDF/DOCX soubor
                                se
                                životopisem:</label><br>
                            <input style="padding: 1em; min-width: 100%" class="btn btn-info" type="file" name="file">
                            <div style="padding-top: 1em" class="form-group">
                            <label class="switch">
                                <input type="checkbox" id="switchUseLocalization" name="switchUseLocalization" value="isChecked">
                                <span class="slider round"></span>
                            </label>
                            <span style="font-size: 0.85em">Výsledky omezit pouze na vaší aktuálně zjištěnou lokaci: </span>
                                <span style="font-size: 0.85em" id="found-region-name" ></span>
                                <select style="display: none" class="form-control" id="location" name="location">
                                </select>
                                <script type="text/javascript" src="/js/regionLocationProviderModal.js"></script>
                            </div>
                        </div>
                        <div style="display: block; min-height:13em" class="modal-footer text-center">
                            <button id="buttonPersonalizationStart" style="margin: 0 auto" class="btn btn-success"
                                    type="submit" onclick="loading()">Získat nabídku na míru
                            </button>
                            <div id="loader" class="text-center"></div>
                            <p style="margin-top:0em; font-size: 0.8em" class="text-center" id="info"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${(totalPages != null) && (totalOffers > 0)}">
        <nav th:if="${searching == null}" aria-label="pagenav" style="padding-top:1.5em">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${currentPage > 1}"><a style="color:white; background-color:seagreen"
                                                                    class="page-link"
                                                                    th:href="'/page/' + ${currentPage-1}">
                    <i style="color:white" class="fas fa-arrow-left"></i> </a></li>
                <li class="page-item">
                    <button type="button" class="btn btn-light" disabled
                            th:text="'Stránka ' + ${currentPage} + ' z ' + ${totalPages}"></button>
                </li>
                <li class="page-item" th:if="${currentPage < totalPages}"><a
                        style="color:white; background-color:seagreen"
                        class="page-link"
                        th:href="'/page/' + ${currentPage+1}">
                    <i style="color:white" class="fas fa-arrow-right"></i> </a></li>
            </ul>
        </nav>
        <nav th:if="${searching == true}" aria-label="pagenav" style="padding-top:1.5em">
            <ul class="pagination justify-content-center">
                <form action="#" th:action="@{/searchOffers}" method="post">
                    <input style="display:none" type="text" name="locationSearch" th:attrappend="value=${searchedLocation}?${searchedLocation}">
                    <input style="display:none" type="text" name="fieldSearch" th:attrappend="value=${searchedFieldId}?${searchedFieldId}">
                    <input style="display:none" type="text" name="titleAndEmployerSearch" th:attrappend="value=${searchedTitleAndEmployer}?${searchedTitleAndEmployer}">
                    <input style="display:none" type="text" name="page" th:value="${currentPage-1}">
                    <button type="submit" style="padding:0px;" class="page-item btn" th:if="${currentPage > 1}"><a
                            style="color:white; background-color:seagreen;"
                            class="page-link">
                        <i style="color:white" class="fas fa-arrow-left"></i> </a></button>
                </form>
                <li class="page-item">
                    <button type="button" class="btn btn-light" disabled
                            th:text="'Stránka ' + ${currentPage} + ' z ' + ${totalPages}"></button>
                </li>
                <form action="#" th:action="@{/searchOffers}" method="post">
                    <input style="display:none" type="text" name="locationSearch" th:attrappend="value=${searchedLocation}?${searchedLocation}">
                    <input style="display:none" type="text" name="fieldSearch" th:attrappend="value=${searchedFieldId}?${searchedFieldId}">
                    <input style="display:none" type="text" name="titleAndEmployerSearch" th:attrappend="value=${searchedTitleAndEmployer}?${searchedTitleAndEmployer}">
                    <input style="display:none" type="text" name="page" th:value="${currentPage+1}">
                    <button type="submit" style="padding:0px;" class="page-item btn" th:if="${currentPage < totalPages}"><a
                            style="color:white; background-color:seagreen;"
                            class="page-link">
                        <i style="color:white" class="fas fa-arrow-right"></i> </a></button>
                </form>
            </ul>
        </nav>
        <p style="font-size:0.8em" class="text-center"
           th:text="'Zobrazuji nabídky ' + ${firstOfferNum} + ' - ' + ${lastOfferNum} + ' z celkem ' + ${totalOffers}"></p>
    </div>
    <div th:if="${relevanceScore != null}">
        <nav aria-label="pagenav" style="padding-top:1.5em">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${currentPage > 1}"><a style="color:white; background-color:seagreen"
                                                                    class="page-link"
                                                                    th:href="'/personalizedOffers/region/' + ${regionId} + '/page/' + ${currentPage-1}">
                    <i style="color:white" class="fas fa-arrow-left"></i> </a></li>
                <li class="page-item">
                    <button type="button" class="btn btn-light" disabled
                            th:text="${currentPage} + '. stránka'"></button>
                </li>
                <li class="page-item" th:if="${personalizationHasNextPage == true}"><a
                        style="color:white; background-color:seagreen"
                        class="page-link"
                        th:href="'/personalizedOffers/region/' + ${regionId} + '/page/' + ${currentPage+1}">
                    <i style="color:white" class="fas fa-arrow-right"></i> </a></li>
            </ul>
        </nav>
    </div>

</div>
</body>
</html>