<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml"
                xmlns:th="https://www.thymeleaf.org">
<footer id="footer" class="footer">
    <div class="container">
        <nav id="footerNav" class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item-active">
                    <a class="nav-link white" href="/demo">Demo režim</a>
                </li>
            </ul>
        </nav>
        <p id="author">
            © 2021 Jaroslav Ježek - vytvořeno v rámci Diplomové práce na FIM UHK
        </p>
    </div>
</footer>
</html>