<!DOCTYPE html>

<html layout:decorate="~{main_layout}"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Pracovní portál</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/account_overview.css"/>
</head>

<body class="flexBodyClear">
<div layout:fragment="content">
    <div th:if="${(message_notification != null) && (message_notification.contains('úspě'))}" class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="fas fa-check-circle green"></i>
        <strong th:text="' ' + ${message_notification}"></strong>
    </div>
    <div th:if="${(message_notification != null) && (message_notification.contains('Chyba'))}" class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="fas fa-exclamation-triangle red"></i>
        <strong th:text="' ' + ${message_notification}"></strong>
    </div>

    <div id="accountOverviewContainer" class="container">
        <h3 class="slateblue" th:text="'Podrobnosti účtu uživatele: ' + ${registeredUser.firstName} + ' ' + ${registeredUser.lastName}"></h3>
        <div id="desktopInfoView">
            <h5 class="moreInfo">Informace o uživateli</h5>
            <div class="container containerInfoSection">
                <div class="infoSection">
                <span>
                    <i class="far fa-user moreInfoIcon"></i>
                    <span class="moreInfoLabel">Jméno a příjmení:</span>
                        <span th:text="${registeredUser.firstName} + ' ' + ${registeredUser.lastName}"></span><br>
                    <hr class="moreInfoHrDivider">
                </span>
                    <span>
                    <i class='fas fa-at moreInfoIcon'></i>
                    <span class="moreInfoLabel">Email/login:</span>
                        <span th:text="${registeredUser.email}"></span><br>
                    <hr class="moreInfoHrDivider">
                </span>
                    <span>
                    <i class='fas fa-venus-mars moreInfoIcon'></i>
                    <span class="moreInfoLabel">Pohlaví:</span>
                        <span th:text="${registeredUser.gender}"></span><br>
                    <hr class="moreInfoHrDivider">
                </span>
                    <span>
                    <i class='fas fa-baby moreInfoIcon'></i>
                    <span class="moreInfoLabel">Rok narození:</span>
                        <span th:text="${registeredUser.birthYear}"></span><br>
                    <hr class="moreInfoHrDivider">
                </span>
                    <span>
                    <i class='fas fa-map-marked-alt moreInfoIcon'></i>
                    <span class="moreInfoLabel">Kraj aktuálního bydliště:</span>
                        <span th:text="${registeredUser.region.name}"></span><br>
                    <hr class="moreInfoHrDivider">
                </span>
                    <span>
                    <i class='fas fa-user-graduate moreInfoIcon'></i>
                    <span class="moreInfoLabel">Stupeň nejvyššího dosaženého (nebo právě studovaného) vzdělání:</span>
                        <span th:text="${registeredUser.eduLevel.prettyName}"></span><br>
                    <hr class="moreInfoHrDivider">
                </span>
                    <span>
                    <i class='fas fa-briefcase moreInfoIcon'></i>
                    <span class="moreInfoLabel">Obecný obor nejvyššího dosaženého (nebo právě studovaného) vzdělání:</span>
                        <span th:text="${registeredUser.eduGeneralField.prettyName}"></span><br>
                    <hr class="moreInfoHrDivider">
                </span>
                </div>
            </div>
        </div>

        <div class="container">
            <button type="button" id="buttonShowRelevances" data-toggle="modal"
                    data-target="#modalShowRelevances" class="btn btn-success">
                Predikované relevance pracovních oborů
            </button>
            <button type="button" id="buttonEditInfo" data-toggle="modal"
                    th:attr="data-target='#modalEditInfo'+*{registeredUser.id}" class="btn btn-info">
                Aktualizovat vybrané údaje
            </button>
            <button type="button" id="buttonChangePassword" data-toggle="modal" class="btn btn-info"
                    data-target="#modalChangePassword">
                Změnit heslo
            </button>
        </div>
    </div>

    <div class="modal fade" th:id="*{'modalEditInfo'+{registeredUser.id}}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modalDialogGeneral" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditTitle">Aktualizace vybraných údajů</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="#" th:action="@{'/registeredUser/updateUser/' + ${registeredUser.id}}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="userFirstName">Jméno:</label>
                            <input type="text" class="form-control" id="userFirstName"
                                   th:value="*{registeredUser.firstName}" disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="userLastName">Příjmení:</label>
                            <input type="text" class="form-control" id="userLastName" name="newLastName"
                                   th:value="*{registeredUser.lastName}" required>
                        </div>
                        <div class="form-group">
                            <label for="userLastName">Email (login):</label>
                            <input type="text" class="form-control" id="userEmail" th:value="*{registeredUser.email}"
                                   disabled="disabled">
                        </div>
                        <div class="form-group">
                            <label for="userLastName">Rok narození:</label>
                            <input type="text" class="form-control" id="userBirthYear"
                                   th:value="*{registeredUser.birthYear}" disabled="disabled">
                        </div>
                        <div class="form-group blu-margin">
                            <label>Kraj aktuálního bydliště:</label>
                            <select class="form-control" id="region" name="newRegion">
                                <option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.name}"
                                        th:selected="${region.id==registeredUser.region.id}"></option>
                            </select>
                        </div>
                        <div class="form-group blu-margin">
                            <label>Stupeň nejvyššího dosaženého (nebo právě studovaného) vzdělání:</label>
                            <select class="form-control" id="eduLevel" name="newEduLevel">
                                <option th:each="eduLevel : ${eduLevels}" th:value="${eduLevel.id}"
                                        th:text="${eduLevel.prettyName}"
                                        th:selected="${eduLevel.id==registeredUser.eduLevel.id}"></option>
                            </select>
                        </div>
                        <div class="form-group blu-margin">
                            <label>Obecný obor nejvyššího dosaženého (nebo právě studovaného) vzdělání:</label>
                            <select class="form-control" id="eduGeneralField" name="newEduGeneralField">
                                <option th:each="eduGeneralField : ${eduGeneralFields}" th:value="${eduGeneralField.id}"
                                        th:text="${eduGeneralField.prettyName}"
                                        th:selected="${eduGeneralField.id==registeredUser.eduGeneralField.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zpět</button>
                        <button type="submit" class="btn btn-success">Uložit změny</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalChangePassword" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modalDialogGeneral" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalChangePasswordTitle">Změna hesla</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="#" th:action="@{'/registeredUser/changePassword/' + ${registeredUser.id}}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="oldPassword">Vaše současné heslo:</label>
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" minlength="5" required>
                        </div>
                        <div class="form-group">
                            <label for="oldPassword">Nové heslo:</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" minlength="5" required>
                        </div>
                        <div class="form-group">
                            <label for="oldPassword">Nové heslo znovu:</label>
                            <input type="password" class="form-control" id="newPasswordCheck" name="newPasswordCheck" minlength="5" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zpět</button>
                        <button type="submit" class="btn btn-success">Změnit heslo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:if="${openModalChangePassword.equals('modalTrue')}" type="text/javascript" src="/js/adminAccountOverview.js"></script>

    <div class="modal fade" id="modalShowRelevances" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modalDialogRelevances" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalChangeRelevancesTitle">Predikovaná skóre relevancí pro obecné pracovní obory</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="relevanceModalContent" class="container">
                        <span class="steelblue"><b>Predikovaná skóre relevancí pro jednotlivé obory: </b></span>
                        <table class="table table-sm text-center font-size-07">
                            <thead class="thead-dark">
                            <tr>
                                <th th:each="i : ${#numbers.sequence(0, 2)}" th:text="${relevanceScore.getFieldName(i)}"></th>
                            </tr>
                            </thead>
                            <tbody class="steelblue">
                            <tr>
                                <td th:each="i : ${#numbers.sequence(0, 2)}"><b
                                        th:text="${relevanceScore.getPercentRelevanceScore(i)}"></b></td>
                            </tr>
                            </tbody>
                            <thead class="thead-dark">
                            <tr>
                                <th th:each="i : ${#numbers.sequence(3, 5)}" th:text="${relevanceScore.getFieldName(i)}"></th>
                            </tr>
                            </thead>
                            <tbody class="steelblue">
                            <tr>
                                <td th:each="i : ${#numbers.sequence(3, 5)}"><b
                                        th:text="${relevanceScore.getPercentRelevanceScore(i)}"></b></td>
                            </tr>
                            </tbody>
                            <thead class="thead-dark">
                            <tr>
                                <th th:each="i : ${#numbers.sequence(6, 8)}" th:text="${relevanceScore.getFieldName(i)}"></th>
                            </tr>
                            </thead>
                            <tbody class="steelblue">
                            <tr>
                                <td th:each="i : ${#numbers.sequence(6, 8)}"><b
                                        th:text="${relevanceScore.getPercentRelevanceScore(i)}"></b></td>
                            </tr>
                            </tbody>
                            <thead class="thead-dark">
                            <tr>
                                <th th:each="i : ${#numbers.sequence(9, 11)}" th:text="${relevanceScore.getFieldName(i)}"></th>
                            </tr>
                            </thead>
                            <tbody class="steelblue">
                            <tr>
                                <td th:each="i : ${#numbers.sequence(9, 11)}"><b
                                        th:text="${relevanceScore.getPercentRelevanceScore(i)}"></b></td>
                            </tr>
                            </tbody>
                            <thead class="thead-dark">
                            <tr>
                                <th th:each="i : ${#numbers.sequence(12, 14)}" th:text="${relevanceScore.getFieldName(i)}"></th>
                            </tr>
                            </thead>
                            <tbody class="steelblue">
                            <tr>
                                <td th:each="i : ${#numbers.sequence(12, 14)}"><b
                                        th:text="${relevanceScore.getPercentRelevanceScore(i)}"></b></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zpět</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>